main {
    .container {
        .spin {
           .spinimg-box {
            width: 264px;
            height: 264px;
            border-radius: 50%;
            border-top: 2px dashed #0e0e0f;
            border-right: 2px dashed #0e0e0f;
            border-left: 2px dashed #0e0e0f;
            border-bottom: 2px dashed #0e0e0f;
            padding: 10px;
            animation: spin 10s infinite linear;
            .spinimg {
                animation: spin 10s infinite reverse linear;
                }
            }
        }
    }
}

@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}
