@import "header";
@import "nav768";
@import "footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: calc(100vh - 5rem);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #212124;
    main {
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        .container {
            background: #212124;
            align-self: center;
            display: flex;
            justify-content: space-between;
            margin: 280px 0 400px 0;
            width: 65%;
            .greetings {
                display: flex;
                align-items: center;
                font-size: 24px;
                div {
                    align-self: center;
                    color: white;
                    span {
                        font-family: 'Indie Flower', cursive;
                        padding: 10px 0;
                    }
                    h1 {
                        padding: 10px 0;
                    }
                    h2 {
                        font-size: 22px;
                        font-family: 'Indie Flower', cursive;
                        padding: 20px 0;
                        font-weight: 300;
                    }
                }
            }
            .me {
                div {
                    .miPersona {
                        border-radius: 50%;                    
                    }
                }
            }
        }
        #conocimientos {
            display: flex;
            flex-flow: row wrap;
            h2 {
                padding: 100px 0 80px 0;
                color: white;
                width: 100%;
            }
            .tecnologias {
                display: flex;
                flex-flow: column nowrap;
                div {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    color: white;
                    img {
                    width: 125px;
                    }
                    span {
                        padding: 0 20px;
                    }
                }
            }
            .chCertificates {
                display: flex;
                align-items: center;
                img {
                    width: 350px;
                    margin: 50px 0;
                }
            }
        }
        #proyectos {
            display: flex;
            flex-flow: column nowrap;
            margin: 150px 0 100px 0;
            color: white;
            h2 {
                padding: 100px 10px;
            }
            .sub-proyectos {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                max-width: 1280px;
                padding: 50px;
                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 50px;
                    margin: 10px;
                    height: 300px;
                    width: 275px;
                    border: 0.1rem solid #323236;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all .4s;
                    &:hover {
                        background: #161618;
                        .card-hover {
                            display: block;
                            position: absolute;
                        }
                    }
                    .card-hover {
                        display: none;
                        color: white;
                        padding: 5px 30px;
                        font-size: 16px;
                        background: #040405f3;
                        border-radius: 50px;
                    }
                }
            }
        }
        .static-container {
            align-self: center;
        }
        #contacto {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            color: white;
            margin: 400px 0;
            h2 {
                font-size: 28px;
                padding: 100px 50px;
            }
            .redes {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                width: 650px;
                a {
                    text-decoration: none;
                    color: white;
                }
                .mail {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    width: 285px;
                    padding: 10px 20px;
                    margin: 20px;
                    border: 0.1rem solid #323236;
                    border-radius: 2px;
                    transition: all 2s;
                    &:hover {
                        box-shadow: whitesmoke;
                    }
                }
                .wpp {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    width: 285px;
                    padding: 10px 20px;
                    margin: 20px;
                    border: 0.1rem solid #323236;
                    border-radius: 2px;
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    body {
        main {
            .container {
                width: 80%;
                margin: 300px 0 200px 0;
                .greetings {
                    font-size: 20px;
                }
                .me {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    div {
                        display: flex;
                        justify-content: center;
                        .miPersona {
                            width: 75%;
                        }
                    }
                }
            }
            #proyectos {
                h2 {
                    padding: 100px 40px;
                }
            }
        }
    }
}

@media (max-width: 960px) {
    body {
        main {
            .container {
                width: 85%;
                .greetings {
                    font-size: 16px;
                }
                .me {
                    justify-content: flex-end;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    body {
        main {
            .container {
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;
                margin: 150px 0 200px 0;
                .greetings {
                    order: 1;
                    margin: 50px 0;
                }
                .me {
                    justify-content: center;
                    order: 0;
                    margin: 50px;
                }
            }
            #conocimientos {
                .tecnologias {
                    div {
                        flex-flow: column nowrap;
                        text-align: center;
                    }
                }
            }
            #proyectos {
                .sub-proyectos {
                    padding: 0;
                }
            }
            #contacto {
                .redes {
                    width: 100%;
                    justify-content: center;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    body {
        main {
            .container {
                margin: 80px 0 200px 0;
            }
            #conocimientos {
                .chCertificates {
                    display: flex;
                    justify-content: center;
                    img {
                       width: 75%; 
                    }
                }
            }
            #contacto {
                .redes {
                    .mail {
                        margin: 20px 0;
                    }
                    .wpp {
                        margin: 20px 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 315px) {
    body {
        main {
            .container {
                width: 100%;
            }
        }
    }
}